<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="">Manage Film Example</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="user" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/home">Home </a>
            </li>
            <!-- START LINK MENU -->
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" routerLink="/actors">Actor</a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" routerLink="/films">Film</a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" routerLink="/filmmakers">FilmMaker</a>
            </li>
        
 <!-- END LINK MENU -->
        </ul>
    </div>
    <div *ngIf="user" class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Benvenuto {{user.username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/manage-users">Manage User</a>
                    <a class="dropdown-item" routerLink="/profile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="authenticationService.logout()">Logout</a>
                </div>
            </li>
        </ul>

    </div>
</nav>