**** PROPERTIES SKAFFOLDER ****
{
    "forEachObj": "oneTime",
    "_partials": []
}
**** END PROPERTIES SKAFFOLDER ****
<div class="row justify-content-md-center mt-40">
    <div class="col-md-7">
        <div class="card">
            <div class="card-body text-center">
                <h2>Welcome in</h2>
                <h2 class="mb-40">{{unslug project.name}}</h2>
                <form #loginForm="ngForm">
                    <div class="alert alert-danger" role="alert" *ngIf="showError">
                        Username or Password not valid
                    </div>
                    <div class="form-group" [ngClass]="{'was-validated': (loginForm.submitted && username.invalid) || (username.dirty && username.invalid)}">
                        <label class="pull-left" for="username"><strong>Username</strong></label>
                        <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username" #username="ngModel" required>
                        <div *ngIf="(loginForm.submitted && username.invalid) || (username.dirty && username.invalid)" class="alert alert-danger">
                            Username is required
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'was-validated': (loginForm.submitted && password.invalid) || (password.dirty && password.invalid)}">
                        <label class="pull-left" for="password"><strong>Password</strong></label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" #password="ngModel" required>
                        <div *ngIf="(loginForm.submitted && password.invalid) || (password.dirty && password.invalid)" class="alert alert-danger">
                            Password is required
                        </div>
                    </div>
                    <div class="form-group ">
                        <input type="checkbox" class="pull-right mt-8" [(ngModel)]="remember" name="remember">
                        <label class="pull-right">Remember login&nbsp;</label>
                    </div>
                    <div class="clearfix"></div>
                    <button type="submit" class="btn btn-success pull-right" (click)="login(loginForm)">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>